<?xml version="1.0" encoding="utf-8"?>
<form>
    <config>

        <fieldset
                name="params"
                label="COM_PLUGIN_SETTINGS"
        >

            <field
                    name="iflychat_app_id"
                    type="text"
                    label="COM_IFLYCHAT_APP_ID"
                    description="COM_IFLYCHAT_APP_ID_DESC"
                    size="40"

                    default=""
                    filter="raw"
            />
            <field
                    name="iflychat_external_api_key"
                    type="text"
                    label="COM_IFLYCHAT_API_KEY"
                    description="COM_IFLYCHAT_API_KEY_DESC"
                    size="40"
                    required="true"
                    default=""
                    filter="raw"
            />

            <!--<field-->
            <!--name="iflychat_anon_use_name"-->
            <!--type="radio"-->
            <!--class="btn-group btn-group-yesno"-->
            <!--label="COM_IFLYCHAT_ANON_USE_NAME"-->
            <!--default="1"-->
            <!--&gt;-->
            <!--<option value="1">COM_IFLYCHAT_ANON_USE_NAME_NAME</option>-->
            <!--<option value="2">COM_IFLYCHAT_ANON_USE_NAME_NUMBER</option>-->
            <!--</field>-->
            <field
                    name="iflychat_enable_friends"
                    type="list"
                    label="COM_IFLYCHAT_ENABLE_FRIENDS"
                    default="1"
            >
                <option value="2">JYES</option>
                <option value="1">JNO</option>
            </field>
            <!--<field-->
            <!--name="iflychat_show_popup_chat"-->
            <!--type="list"-->
            <!--label="COM_IFLYCHAT_SHOW_POPUP_CHAT"-->
            <!--default="1"-->
            <!--&gt;-->
            <!--<option value="1">COM_IFLYCHAT_SHOW_POPUP_CHAT_01</option>-->
            <!--<option value="2">COM_IFLYCHAT_SHOW_POPUP_CHAT_02</option>-->
            <!--&lt;!&ndash;<option value="3">COM_IFLYCHAT_SHOW_POPUP_CHAT_03</option>&ndash;&gt;-->
            <!--</field>-->
            <field name="iflychat_mod" type="textarea" default="" label="IFLYCHAT_MOD_DESC"
                   description="IFLYCHAT_MOD_DESC" rows="10" cols="20"/>
            <field name="iflychat_admin" type="textarea" default="" label="IFLYCHAT_ADMIN_DESC"
                   description="IFLYCHAT_ADMIN_DESC" rows="10" cols="20"/>
            <field
                    name="iflychat_enable_session_caching"
                    type="list"
                    label="COM_IFLYCHAT_ENABLE_SESSION_CACHING"
                    default="2"
            >
                <option value="1">JYES</option>
                <option value="2">JNO</option>
            </field>

        </fieldset>
        <fieldset name="app_setting"
                  label="COM_APP_SETTINGS">
        </fieldset>
    </config>
</form>

